.slider_a {
  position: relative;
  background-color: none;

  width: 100%;
  height: 533px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;

  padding: 0px 120px;

  overflow: hidden;
}

.slider_a input {
  z-index: 2;
}

.slider_a_wrapper {
  z-index: 1;

  width: 400%;
  height: 100%;

  position: absolute;
  display: flex;
  transition: all 1s ease-in-out;
}

.element_one img {
  width: 100%;
  height: 533px;
}

.slider_a a{
  text-decoration: none;
  color: white;
}

.highlights_description_one {
  position: absolute;
  top: 54px;
  padding: 16px 24px;
  margin-left: 38px;

  height: 230px;
  width: calc(100% / 5.6);

  background-color: rgba(255, 255, 255, 0.1);
  border-left: solid 1px white;
  border-right: solid 1px white;
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  text-align: start;
}
.highlights_description_one h2 {
  color: rgba(255, 255, 255, 1);
}

.element_two img {
  width: 100%;
  height: 533px;
}

.highlights_description_two {
  position: absolute;
  top: 54px;
  padding: 16px 24px;
  margin-left: 38px;

  height: 230px;
  width: calc(100% / 5.6);

  background-color: rgba(255, 255, 255, 0.1);
  border-left: solid 1px white;
  border-right: solid 1px white;
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  text-align: start;
}

.highlights_description_two h2 {
  color: white;
}

.element_three img {
  width: 100%;
  height: 533px;
}

.highlights_description_three {
  position: absolute;
  top: 54px;
  padding: 16px 24px;
  margin-left: 38px;

  height: 230px;
  width: calc(100% / 5.6);

  background-color: rgba(255, 255, 255, 0.1);
  border-left: solid 1px white;
  border-right: solid 1px white;
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  text-align: start;
}

.highlights_description_three h2 {
  color: white;
}

.element_four img {
  width: 100%;
  height: 533px;
}

.highlights_description_four {
  position: absolute;
  top: 54px;
  padding: 16px 24px;
  margin-left: 38px;

  height: 230px;
  width: calc(100% / 5.6);

  background-color: rgba(255, 255, 255, 0.1);
  border-left: solid 1px white;
  border-right: solid 1px white;
  color: white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  text-align: start;
}

.highlights_description_four h2 {
  color: white;
}

input[type="radio"] {
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
}

input[type="radio"]:after {
  width: 28px;
  height: 28px;
  border-radius: 15px;
  top: -50px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: none;
}

input[type="radio"]:checked:after {
  width: 40px;
  height: 28px;
  border-radius: 15px;
  left: -5px;
  top: -50px;
  position: relative;
  background-color: rgba(241, 201, 83, 1);
  border-radius: 20px;
  display: inline-block;
  visibility: visible;
  border: none;
}

.slider_a_element {
  width: calc(400% / 4);
  height: 100%;
}

.slider_a input[value="one"]:checked ~ .slider_a_wrapper {
  transform: translateX(calc(150% / 4));
}

.slider_a input[value="two"]:checked ~ .slider_a_wrapper {
  transform: translateX(calc(50% / 4));
}
.slider_a input[value="three"]:checked ~ .slider_a_wrapper {
  transform: translateX(calc(-50% / 4));
}

.slider_a input[value="four"]:checked ~ .slider_a_wrapper {
  transform: translateX(calc(-150% / 4));
}

@media screen and (min-width: 481px) and (max-width: 786px) {
  .slider_a {
    width: 100%;
    height: 533px;

    gap: 30px;

    overflow: hidden;
  }

  .element_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_one {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_one p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_one h2 {
    font-size: 1.75rem;
    color: white;
  }

  .element_two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_two {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_two p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_two h2 {
    font-size: 1.75rem;
    color: white;
  }

  .element_three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_three {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_three p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_three h2 {
    font-size: 1.75rem;
    color: white;
  }

  .element_four img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_four {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_four p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_four h2 {
    font-size: 1.75rem;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .slider_a {
    width: 100%;
    height: 533px;

    gap: 30px;

    overflow: hidden;
  }

  .element_one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_one {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_one p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_one h2 {
    font-size: 1.75rem;
    color: white;
  }

  .element_two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_two {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_two p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_two h2 {
    font-size: 1.75rem;
    color: white;
  }

  .element_three img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_three {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_three p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_three h2 {
    font-size: 1.75rem;
    color: white;
  }

  .element_four img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 100px;
  }

  .highlights_description_four {
    position: absolute;
    top: 93px;
    padding: 16px 23px 16px 16px;
    margin-left: 10px;

    height: 190px;
    width: calc(100% / 4.3);
  }

  .highlights_description_four p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .highlights_description_four h2 {
    font-size: 1.75rem;
    color: white;
  }
}
